<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>Reflux HTML CSS Template</title>
<!--
Reflux Template
https://templatemo.com/tm-531-reflux
-->
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/fontawesome.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-style.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/lightbox.css')}}" />
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">
            <div class="image">
              <a href="#"><img src="{{url_for('static', filename='images/th.jpg')}}" alt="" /></a>
            </div>
            <div class="author-content">
              <h4>Cyber Security</h4>
<!--              <span>Web Designer</span>-->
            </div>
            <nav class="main-nav" role="navigation">
              <ul >
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li > <a href="{{url_for('rtf')}}">Transfer Files</a></li>
                <li ><a href="{{url_for('rvfs')}}">View Files Status</a></li>
                <li class="active"><a href="{{url_for('rf')}}">Receive Files</a></li>
              </ul>
            </nav>

            <div class="copyright-text">
<!--              <p>Copyright 2019 Reflux Design</p>-->
            </div>
          </div>
        </div>
      </div>
 <style>
      .button {
        background-color: #1c87c9;
        border: none;
        color: white;
        padding: 20px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
      }
    </style>
      <section class="section contact-me" data-section="section4">
        <div class="container">
          <div class="section-heading">


              <BR><BR><BR><BR><BR><BR>
              <center>
			 {% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class="alert alert-{{ category }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}
		{% endwith %}

		{% block content %} {% endblock %}</center>
              <BR><BR>
<!--            <h2>Contact Me</h2>-->
<!--            <div class="line-dec"></div>-->
<!--            <span-->
<!--              >Fusce eget nibh nec justo interdum condimentum. Morbi justo ex,-->
<!--              efficitur at ante ac, tincidunt maximus ligula. Lorem ipsum dolor-->
<!--              sit amet, consectetur adipiscing elit.</span-->
<!--            >-->
<!--          </div>-->
          <div class="row">
            <div class="right-content">
              <div class="container">
                  <h1>Download File</h1><br>
              <div class="col-md-8">
		{% if msg!=null:

%}
 <textarea cols="50" rows="10" id="source">{{ msg }}</textarea>
    <br>
  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" id="save" title="Save as text file">Download</button>

    <script type="text/javascript">
        document.getElementById("save").onclick = function() {
            var content = document.getElementById('source').value;
            window.open("data:application/txt," + encodeURIComponent(content), "_self");
        }
    </script>
{% endif%}
	</div>

              </div></div>
            </div>
          </div>
        </div>
      </section>
    </div>

     Scripts
     Bootstrap core JavaScript
    <script src="{{url_for('static', filename='vendor/jquery/jquery.min.js')}}" />
    <script src="{{url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}" />

    <script src="{{url_for('static', filename='js/isotope.min.js')}}" />
    <script src="{{url_for('static', filename='js/owl-carousel.js')}}" />
    <script src="{{url_for('static', filename='js/lightbox.js')}}" />
    <script src="{{url_for('static', filename='js/custom.js')}}" />
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>
